@import "tailwindcss";

html,
body {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  height: 0;
  width: 0;
  display: none;
}
